body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #261C2C;
}

h1, h2, h3, h4, h5 {
  color: #6E85B2;
}

p{
  color: whitesmoke;
}

small{
  color: #ffc107;
}

.link{
  text-decoration: none;
}

.repositories{
  height: 85vh;
  max-height: 700px;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
